*
{
margin: 0;
padding: 0;
box-sizing:border-box ;
}
body
{
	font:size:14px;
	background:white;
}
.Repository
{
	background:lightgray;
	width: 500px;
	padding: 25px;
	margin: 50px auto 0;
	border-top:5px solid peachpuff;
	box-shadow: 0 0 7px 5px rgba(0,0,1,0.5);
	 }
	 .Repository h2
	 {
	 	font-size:24px;
	 	line-height: 24px;
	 	padding:30px;
	 	text-align: centre ;
	 }
	 .input-Name
	 {width: 190%
	 	position: absolute;
	 	margin: 20px auto}
	 	
	 	.lock
	 	{
	 		padding: 8px 11px;
	 	}

	 	.name
	 	{
	 		width:45%;
	 		padding:8px 0 8px 40px ;
	 	}
 .input-Name span
 {
margin-left:1px ;
;
 }

.text-name
{
 width:100%;
 padding:9px 0 8px 40px ; 
}
.input-Name i
{
	position: absolute;
	font-size: 18px;
	color:black;
padding:8px 0 10px 10px ;
}
.email
{
	padding: 8px;

}
.text-name, .name
{
	border: 1px solid #cccccc;
	outline: none;
}
.text-name:hover, .name:hover
{
	background-color:peachpuff ;
}
.text-name:focus, .name:focus
{
	border:1px solid black;
}
.radio-button
{
	margin-right: 4px;
}
.country
{
	display: inline-block;
	width: 100%;
	height: 25px;
	padding: 0px 15px;
	border: 1px solide #cccccc;

}
.check
{
	margin-right: 15px;
	position: relative;
}
.check:: before
{
	content:"";
	display: inline-block;
	width: 8px;
	height: 8px;
	margin-right: 8px;
	vertical-align: -2px;
	border:2px solid #cccccc;
	padding: 2.5px;
	background-clip: content-box;
	transition: all 0.2s ease;
}


}
.button:hover
{
	background: peachpuff;
}
.error{
	color: darkred;
	margin: 0px;
	text-align: left;
}
.input-Name span{
	margin-bottom: 50px;
	color: red;
}
